<!-- GET /albums -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      My Music Library
    </title>
  </head>
  <body>
    <h1>Artists</h1>
    <ul>
      <!--Use a for loop to format the album names-->
      {% for artist in artists %}
        <li>
          <a href="/artists/{{artist.id}}">{{artist.name}} - genre: {{artist.genre}}</a>
        </li>
      {% endfor %}
    </ul>
    <!-- ... -->
    <!-- This is a link to another page. -->
    <a href="/landing_page">Back to the landing page</a>
  </body>
</html>